<div class="footer-all fixed-bottom">
  <div class="container footer-text-color">
    <div class="row">
      <div class="col-4">
        <p style="footer_title">test 1</p>
      </div>
      <div class="col-4">
       <p style="footer_title">test 2</p>
     </div>
     <div class="col-4">
       <p style="footer_title">
       <h3>Vous souhaitez soutenir Cora ?</h3>
       <p>Vous voulez recommander Cora ? Laisser un témoignage  ? Ou bien simplement l'encourager ?</p>
       <p>Contactez-nous : contact@coraaepitech.com </p>
     </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>Ceci est un test</p>
      </div>
   </div>
  </div>
</div>
