<div class="footer-all fixed-bottom">
  <div class="container footer-text-color">
    <div class="row">
      <div class="col-4">
        <p style="footer_title">test 1</p>
      </div>
      <div class="col-4">
       <p style="footer_title">test 2</p>
     </div>
     <div class="col-4">
       <p style="footer_title">
       <h2>Vous avez une question ?</h2>
       <p>Vous voulez nous soumettre un bon plan ? Une news ? Ou juste faire une remarque ?</p>
       <p>Contactez-nous : contact@blabla.com </p>
     </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p>Ceci est un test</p>
      </div>
   </div>
  </div>
</div>
